COMPOSE_PROJECT_NAME=livelattice
POSTGRES_DB=livelattice
POSTGRES_USER=livelattice
POSTGRES_PASSWORD=livelattice_dev_password
POSTGRES_PORT=5432
REDIS_PORT=6379
KAFKA_PORT=9092
CLICKHOUSE_DB=livelattice
CLICKHOUSE_USER=livelattice
CLICKHOUSE_PASSWORD=livelattice_dev_password
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
SEARCH_PORT=9200
MINIO_ROOT_USER=livelattice
MINIO_ROOT_PASSWORD=livelattice_dev_password
MINIO_API_PORT=9100
MINIO_CONSOLE_PORT=9101
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=18080
KEYCLOAK_MANAGEMENT_PORT=19000
GATEWAY_PORT=3000
REALTIME_PORT=3002
CORE_PORT=8080
SEARCH_SERVICE_PORT=8081
NOTIFICATIONS_PORT=8082
IMPORT_EXPORT_PORT=8083
AUDIT_LOG_PORT=8084
BACKGROUND_JOBS_PORT=8085
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
PROMETHEUS_PORT=9090
GRAFANA_PORT=4000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
LOKI_PORT=3100
TEMPO_PORT=3200
